# Maven build
*.class
/target

# Libs
/openmpi-*
/peersim-*


# IDE files
/.classpath
/.project
/.settings
/.vscode
/.idea
ppi.iml

# Latex files
.vscode-ctags
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
Rapport_carnet/**/*.pdf
Rapport_carnet/**/*.png

# Other
*.log